* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-align: center;
    background-image: url(/src/Qr.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left top;
    color: #0f0f0f;
	background-color: #ffffff;
}

.but {
	width: 50px;
	height: 50px
}

img {
	display: block;
	width: 440px;
	height: 440px;
	margin: 2rem auto;
}

.app {
	position: relative;
	margin-left: 45rem;
	margin-top: 17rem;
}


h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

input {
	appearance: none;
	outline: none;
	border: none;
	background: #bbb6b6;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

button,
a {
	appearance: none;
	outline: none;
	border: none;
    background: #0f0e0e;
    cursor: pointer;
    color: rgb(228 231 229);
	font-size: 1rem;
	text-decoration: none;
	display: flex;
	position: relative;
	left: 18rem;
	margin-top: 2rem;
	padding: 10px;
	border-radius: 3rem;
}